/*
 * Author: Keiron O'Shea
 * Homepage: http://www.keironoshea.co.uk
 *
 * Project Name: AWESOME Custom Bootstrap Theme
 * Homepage: http://www.aberawesome.co.uk
 * 
 */

body {
	
	background-color: #FC0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#headerwrap {
	background: url(http://keironoshea.co.uk/img/background2.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:155px;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 55px;
}

#headerwrap h2 {
	color: white;
	font-size:25px;
}

#content {
	display: block;
	background-color: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar-inverse {
	background-color:#FC0;
	border-color: transparent;
	color:#000;
}

.navbar-inverse .navbar-brand {
	color: #000;
}

.centered {
	text-align:center;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000;
}

.navbar-inverse .active {
	background-color:#FC0;
}

img {
	max-width:100%;
}

a {
    color: green;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

footer {
	background-color: #efefef;
	color: #444;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

footer h3 {
	font-size: 28px;
}

footer p {
	font-size: 18px;
}


#addedfooter {
	padding-top:10px;
	text-align:right;
}

#addedfooter a {
	color:inherit;
}
