{% extends "page.html" %}

{% block stylesheets %}
{{ parent() }}
<style>
	#flow {
		text-align: center;
		font-size: 30px;
	}
</style>

{% endblock %}

{% block questionnaireworkflow %}
        <li><a href="{{url}}admin/questionaire/import/basic.php?questionaireID={{questionaireID}}">Import</a></li>
		<li><a href="{{url}}admin/questionaire/customise/modules.php?questionaireID={{questionaireID}}">Customise</a></li>
		<li><a href="{{url}}admin/questionaire/publish/students.php?questionaireID={{questionaireID}}">Publish</a></li>
		<li><a href="{{url}}/admin/questionaire/results/modules.php?questionaireID={{questionaireID}}">Results</a></li>

{% endblock %}

{% block pagecontent %}
<a href="{{url}}/admin/home.php"><button type="button" class="btn btn-sm btn-warning pull-right">Go back</button></a>






	{% block qcontent %}
	{% endblock %}
{% endblock %}
