{% extends "page.html" %}

{% block stylesheets %}
{{ parent() }}
<style>
	#flow {
		text-align: center;
		font-size: 30px;
	}
</style>

{% endblock %}

{% block questionnaireworkflow %}
        <li><a href="{{url}}admin/questionnaire/import/basic.php?questionnaireID={{questionnaireID}}">Import</a></li>
		<li><a href="{{url}}admin/questionnaire/customise/modules.php?questionnaireID={{questionnaireID}}">Customise</a></li>
		<li><a href="{{url}}admin/questionnaire/publish/students.php?questionnaireID={{questionnaireID}}">Publish</a></li>
		<li><a href="{{url}}/admin/questionnaire/results/modules.php?questionnaireID={{questionnaireID}}">Results</a></li>

{% endblock %}

{% block pagecontent %}
<a href="{{url}}/admin/home.php"><button type="button" class="btn btn-sm btn-warning pull-right">Go back</button></a>






	{% block qcontent %}
	{% endblock %}
{% endblock %}
