{% extends "questionnaire/import/import.html" %}

{% set active_page = "basic" %}
{% set title = "Basic" %}

{% block modifycontent %}
	<form method="post">
		<label for="questionnaireName">Name</label>
		<input type="text" name="questionnaireName" class="form-control" value="{{questionnaire.name}}"/>
		<label for="questionnaireDepartment">Department</label>
		<select name="questionnaireDepartment" class="form-control">
{%			for department in departments %}
			<option value="{{department.DepartmentCode}}"{% if questionnaire.department == department.DepartmentCode %} selected{% endif %}>{{department.DepartmentName}}</option>
{%			endfor %}
		</select>
		<button type="submit" class="btn btn-primary form-control">Modify Questionnaire</button>
	</form>
{% endblock %}
