{% extends "questionnaire/import/import.html" %}

{% set active_page = "basic" %}
{% set title = "Basic" %}

{% block modifycontent %}
	<form method="post">
		<label for="questionnaireName">Name</label>
		<input type="text" name="questionnaireName" class="form-control" value="{{questionnaire.name}}"/>
		<label for="questionnaireDepartment">Department</label>
		<select name="questionnaireDepartment" class="form-control">
			<option value="F" {% if questionnaire.department == "F" %} selected{% endif %}>ART</option>
				<option value="I" {% if questionnaire.department == "I" %} selected{% endif %}> BIOLOGICAL SCIENCES</option>
				<option value="N" {% if questionnaire.department == "N" %} selected{% endif %}>COMPUTER SCIENCE</option>
				<option value="Z" {% if questionnaire.department == "Z" %} selected{% endif %}>CONTINUING EDUCATION</option>
				<option value="U" {% if questionnaire.department == "U" %} selected{% endif %}>DIS</option>
				<option value="B" {% if questionnaire.department == "B" %} selected{% endif %}>EDUCATION</option>
				<option value="C" {% if questionnaire.department == "C" %} selected{% endif %}>ENGLISH</option>
				<option value="D" {% if questionnaire.department == "D" %} selected{% endif %}>EUROPEAN LANGUAGES</option>
				<option value="X" {% if questionnaire.department == "X" %} selected{% endif %}>EXTERNAL</option>
				<option value="P" {% if questionnaire.department == "P" %} selected{% endif %}>GEOGRAPHY AND EARTH SCIENCES</option>
				<option value="E" {% if questionnaire.department == "E" %} selected{% endif %}>HISTORY AND WELSH HISTORY</option>
				<option value="I" {% if questionnaire.department == "I" %} selected{% endif %}>IBERS</option>
				<option value="K" {% if questionnaire.department == "K" %} selected{% endif %}>INTERNATIONAL POLITICS</option>
				<option value="V" {% if questionnaire.department == "V" %} selected{% endif %}>LANGUAGE AND LEARNING</option>
				<option value="L" {% if questionnaire.department == "L" %} selected{% endif %}>LAW</option>
				<option value="Y" {% if questionnaire.department == "Y" %} selected{% endif %}>MANAGEMENT AND BUSINESS</option>
				<option value="M" {% if questionnaire.department == "M" %} selected{% endif %}>MATHEMATICS</option>
				<option value="T" {% if questionnaire.department == "T" %} selected{% endif %}>MATHEMATICS AND PHYSICS</option>
				<option value="W" {% if questionnaire.department == "W" %} selected{% endif %}>PSYCHOLOGY</option>
				<option value="I" {% if questionnaire.department == "I" %} selected{% endif %}>RURAL SCIENCES</option>
				<option value="Q" {% if questionnaire.department == "Q" %} selected{% endif %}>SPORTS SCIENCES</option>
				<option value="A" {% if questionnaire.department == "A" %} selected{% endif %}>THEATRE, FILM AND TV</option>
				<option value="G" {% if questionnaire.department == "G" %} selected{% endif %}>WELSH</option>
		</select>
		<button type="submit" class="btn btn-primary form-control">Modify Questionnaire</button>
	</form>
{% endblock %}
