{% extends "questionnaire/questionnaire.html" %}

{# Thanks http://peter-hoffmann.com/2012/highlight-active-menu-item-with-twig-and-silex.html #}
{% set navigation = [
	['basic.php', 'basic', 'Basic'],
	['students.php', 'students', 'Students'],
	['modules.php', 'modules', 'Modules'],
	['staff.php', 'staff', 'Staff'],
	['staffmodules.php', 'staffmodules', 'Staff Modules'],
	['problems.php', 'problems', 'Problems']
] %}

{% block qcontent %}
	<div class="row">
		<div class="col-md-offset-2">
			<h1>Modify Questionnaire</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 leftcolumn">
			<ul class="nav nav-pills nav-stacked">
	{% for item in navigation %}
				<li{% if item[1] == active_page %} class="active"{% endif %}>
				<a href="{{ item[0] }}?questionnaireID={{questionnaireID|escape('url')}}">{{item[2]}}</a></li>
	{% endfor %}
			</ul>
		</div>
		<div class="col-md-10">
			<div class="tab-content">
				<h2 style="margin-top: 0;">{{title}}</h2>
				{% for alert in alerts %}
					<div class="alert alert-{{alert.type}}" role="alert">{{alert.message}}</div>
				{% endfor %}
				
				{% block modifycontent %}
				{{content}}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
