{% extends "questionnaire/import/import.html" %}

{% set active_page = "problems" %}
{% set title = "Problems" %}
{% block modifycontent %}

	<h3>Missing modules with students assigned</h3>
	<p>The following modules have students assigned, but do not have a name defined.
	This causes issues as the questionnaire and results pages are not able to display these</p>
	<table class="table">
		<thead>
			<th>Module ID</th></th>
			<th>Students</th>
			<th>Action</th>
		</thead>
		
		{% for module in missingmodules %}
		<tr>
			<td>{{module.ModuleID}}</td>
			<td>{{module.Students}}</td>
			<td>Delete button here</td>
		</tr>
		{% endfor %}
	</table>
	
	<h3>Missing staff assigned to modules</h3>
	<p>The following staff have been assigned to modules, their name as not been defined so will show up as blank within the questionnaire</p>
	<table class="table">
		<thead>
			<th>User ID</th>
			<th>Modules</th>
			<th>Action</th>
		</thead>
		
		{% for staff in missingstaff %}
		<tr>
			<td>{{staff.UserID}}</td>
			<td>{{staff.Modules}}</td>
			<td>Delete button here</td>
		</tr>
		{% endfor %}
	</table>
	
	<h3>Students with no modules</h3>
	<p>The following students have no modules, these students will have no questions</p>
	<table class="table">
		<thead>
			<th>User ID</th>
			<th>Action</th>
		</thead>
		
		{% for student in studentswomodules %}
		<tr>
			<td>{{student.UserID}}</td>
			<td>Delete button here</td>
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}
