{% extends "questionnaire/import/import.html" %}

{% set active_page = "semester" %}
{% set title = "Remove data for other semesters" %}
{% block modifycontent %}
	<strong>Danger! this can not be undone!</strong><br/>
	<form method="post">
		<input type="hidden" name="action" value="delete" />
		<button type="submit" class="btn btn-danger">Delete other semesters</button>
	</form>
	
	<h3>Data to delete</h3>
	<table class="table">
		<thead>
			<th>ModuleID</th>
			<th>ModuleName</th>
			<th>Semester</th>
		</thead>
		{% for module in modules %}
		<tr>
			<td>{{module.ModuleID}}</td>
			<td>{{module.ModuleTitle}}</td>
			<td>{{module.ModuleSemester}}</td>
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}
