{% extends "page.html" %}

{% block pagecontent %}
	<div class="row">
		<div class="col-md-offset-2">
			<h1>Modify Questionaire</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 leftcolumn">
			<ul class="nav nav-pills nav-stacked">
			  <li {% if active_page == "basic" %} class="active"{% endif%}><a href="#basic" role="tab" data-toggle="tab">Basic</a></li>
			  <li {% if active_page == "students" %} class="active"{% endif%}><a href="#students" role="tab" data-toggle="tab">Students</a></li>
			  <li {% if active_page == "modules" %} class="active"{% endif%}><a href="#modules" role="tab" data-toggle="tab">Modules</a></li>
			  <li {% if active_page == "staff" %} class="active"{% endif%}><a href="#staff" role="tab" data-toggle="tab">Staff</a></li>
			  <li {% if active_page == "staffmodules" %} class="active"{% endif%}><a href="#staffmodules" role="tab" data-toggle="tab">Staff Modules</a></li>
			</ul>
		</div>
		<div class="col-md-10">
			<div class="tab-content">
				{% block modifycontent %}
				{{content}}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
