body {
  font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.questionnaire {
  margin-top:55px;
}
.navbar-inverse {
	background-color:#FC0;
	border-color: transparent;
	color:#000;
}

.navbar-inverse .navbar-brand {
	color: #000;
}

.centered {
	text-align:center;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000;
}

.navbar-inverse .active {
	background-color:#FC0;
}

.navbar-inverse img {
  width:120px;
  margin:-12px;
}

.ratetable {
  border-spacing: 5px 0px;
  border-collapse: separate;
}

.prettyradio {
  text-align: center;
}

.prettyradio a {
  float: none;
  margin: auto;
}

.prettyradio label {
  float: none;

  text-align: center;
  width: 100%;
  margin: auto;
}

img {
  padding-top:10px;
  display:block;
  margin:0 auto 0;
  padding-bottom:10px;
}

#addedfooter {
padding-top:10px;
text-align:right;
}

#addedfooter a {
color:inherit;
}

.language {
float:right;
}
