{% extends "questionaire/questionaire.html" %}

{% set active_page = "modules" %}
{% set title = "Modules" %}
{% block qcontent %}
	{% for alert in alerts %}
		<div class="alert alert-{{alert.type}}" role="alert">{{alert.message}}</div>
	{% endfor %}
	<h3>Question Groups</h3>
	<table class="table">
		<thead>
			<th>ModuleID</th>
			<th>Module Name</th>
			<th>Additional Questions</th>
			<th><button class="btn btn-primary">Add</button></th>
		</thead>
		
		{% for module in groups %}
		<tr>
			<td>{{module.ModuleID}}</td>
			<td>{{module.ModuleTitle}}</td>
			<td>&nbsp;</td>
			<td>
				<button class="btn btn-default btn-xs">Modify</button>
				<button class="btn btn-danger btn-xs">Delete</button>
			</td>
		</tr>
		{% endfor %}
	</table>

	<h3>Modules</h3>
	<table class="table">
		<thead>
			<th>ModuleID</th>
			<th>Module Name</th>
			<th>Additional Questions</th>
			<th>&nbsp;</th>
		</thead>
		
		{% for module in modules %}
		<tr>
			<td>{{module.ModuleID}}</td>
			<td>{{module.ModuleTitle}}</td>
			<td>&nbsp;</td>
			<td>
				<button class="btn btn-default btn-xs">Modify</button>
				{#<button class="btn btn-danger btn-xs">Delete</button>#}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
