<?
/**
 * @file
 * @version 1.0
 * @date 07/09/2014
 * @author Keiron-Teilo O'Shea <keo7@aber.ac.uk> 
 * 	
 */
 
// copy this file as db.php and adjust the settings below to match your setup:

$url = "http://aberawesome.co.uk/alpha/";
$db = new mysqli("hostname", "username","password","database"); 



//this should not change under normal usage:
$root = realpath(__DIR__);

